@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro/CerebriSansPro-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro/CerebriSansPro-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro/CerebriSansPro-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro/CerebriSansPro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro/CerebriSansPro-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro/CerebriSansPro-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro/CerebriSansPro-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro/CerebriSansPro-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/CerebriSansPro/CerebriSansPro-Heavy.ttf');
    font-weight: 900;
    font-style: normal;
}